<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Lumino Pro - Dashboard</title>
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/datepicker3.css" rel="stylesheet">
<link href="/static/css/styles.css" rel="stylesheet">
<!--[if lt IE 9]>
<link href="/static/cssrg ba-fallback.css" rel="stylesheet">
<script src="/static/js/html5shiv.js"></script>
<script src="/static/js/respond.min.js"></script>
<![endif]--><script src="/static/js/lib.js"></script><script src="/static/js/menu.js"></script>
</head>
<body>	{include file='common:header'/}
	{include file='common:menu'/}		<div  style='position:absolute; width:100%; top:0; left:0; height:97%'>			<iframe id='content' src='/content' style='border:0; width:100%; height:100%;' height='100%' border='0'></iframe>			</div>
	<script src="/static/js/jquery-1.11.1.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>

	<script>		(function(){			gotoPage('');				})();
	</script>
</body>
</html>
