@CHARSET "UTF-8";
.form-prent {width:100%; margin:0 auto;}
.form {color:#FFF; width:90%; margin:0 auto;}
.form  .tl {padding:14px; display:block;}
.in-line {margin-top:16px;}
.rows{width:30%; float:left;}
.form  .tr {color:#000; margin-left:14px;  padding-left:8px;  height:23px; border:0; border-radius:50px;}
.form  button{color:#FFF; border:0; background:rgba(255,255,255,0.4); margin:auto;   padding:5px 15px 5px 15px;}
.submit {margin-top:10px; width:100%; text-align:center;}