<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Lumino Pro - Login</title>
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/datepicker3.css" rel="stylesheet">
<link href="/static/css/styles.css" rel="stylesheet">
<!--[if lt IE 9]>
<link href="/static/css/rgba-fallback.css" rel="stylesheet">
<script src="/static/js/html5shiv.js"></script>
<script src="/static/js/respond.min.js"></script>
<![endif]-->
</head>
<body>	
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
			<div class="login-panel panel panel-default">
				<div class="panel-heading">登录</div>
				<div class="panel-body" >
					<form role="form">
						<fieldset>
							<div class="form-group">
								<input type='text' class="form-control" placeholder="用户名" name="username"  value="">
							</div>
							<div class="form-group">
								<input class="form-control" type='password' placeholder="密码" name="password"  value="">
							</div>
							<a id='login' href='javascript:void(0)' class="btn btn-primary">登录</a>
						</fieldset>
					</form>
				</div>
			</div>
		</div><!-- /.col-->
	</div><!-- /.row -->		
	<script src="/static/js/jquery-1.11.1.min.js"></script>
	<script src="/static/js/layer/layer.js"></script>
	<script src="/static/js/lib.js"></script>	
	<script>
		
		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){		  
				$(this).find('em:first').toggleClass("glyphicon-minus");	  
			}); 
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);
		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		});
		//--登录处理
		$("#login").click(function(){
			html5.loading('start');
			var dat = new Object();
			dat.username = document.getElementsByName('username')[0].value;
			dat.password = document.getElementsByName('password')[0].value;
			$.ajax({
				type:'post',
				url:'/loginAction',
				data:dat,
				dataType:'json',
				success:function(data)
				{
					
					var data = eval("("+data+")");
					if(data.status == 0)
					{
						html5.loading('stop');
						layer.msg(data.msg);
					}
					setTimeout(function(){
						window.location.href = data.url;							
					},3000);
				}
			});
		});
	</script>	
</body>
</html>

